[config]
def_companycode={{ developer_code }}
def_companyname={{ developer_cname }}
def_companydomain={{ developer_domain }}
def_owner_name={{ developer_name }}
def_owner_mail={{ developer_cmail }}
ddef_devops_mail={{ developer_devops }}
def_servers_path=/srv/data/devops-data
def_install_path=../../devops-data
def_python_server=/usr/bin/python3
def_timezone=America/Panama
def_etcd0_server='None'
def_kvport=2379
def_db_server='None'
def_store_server='None'
def_ctx01_server='None'

