# User options (set with `tower-cli config`; stored in ~/.tower_cli.cfg).
host: http://{{ ansible_host }}:ctx01_port
username: admin
password: {{ awx_password }}
verify_ssl: False

# Defaults.
use_token: False
verbose: False
certificate:
format: human
color: True
description_on: False
